<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
      
      <!-- STYLESHEET-->
    
    <link rel="stylesheet" href="/flask_app/static/dash.css">
</head>
<body>
    <body>
        <div class="container">
            
                <div class="info">
                    <h2>{{tv_show.title}}</h2>
                        <p>Created By: {{tv_show.created_by.first_name}}</p>
                        <div>   
                            <p>Title: {{tv_show.title}}</p>
                            <p>Network: {{tv_show.network}}</p>
                            <p>Released Date: {{tv_show.released_date}}</p>
                            <p>Description: {{tv_show.description}}</p>
                                <a href="/dashboard">Back to Dashboard</a>
                                <a href="/logout">Logout</a>
                        </div>      
                </div>
        </div>   
    </body>
        </main>
        </main>

    </div>
</body>
</html>