<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
      
      <!-- STYLESHEET-->
    
    <link rel="stylesheet" href="/flask_app/static/dash.css">
</head>
<body>
    <body>
        <div class="top_title">
            <h2>Inventory Details</h2>
                <div class="wrapper">
                    <div>
                        <p>Product Name: {{product.product_name}}</p><br>
                        <p>ASIN: {{product.asin}}</p><br>
                        <p>Quantity: {{product.quantity}}</p><br>
                        <p>Buy Cost: {{product.buy_cost}}</p><br>
                        <p>Selling Price: {{product.selling_price}}</p><br>
                            <div class="register-link">
                                <a href="/dashboard">Back to Dashboard</a>
                                <a href="/logout">Logout</a>
                            </div>
                    </div>
            </div>
        </div>
    </body>
        </main>
        </main>

    </div>
</body>
</html>